*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*LAYOUT*/

header {
    background-color: #2c3e50;
    width: 100%;
    
}

.content {
    background-color: yellow;
    height: 100px;
}
#portfolio {
    padding: 30px 0;
}

#jumbotron , #about {
    background-color: rgb(26, 188, 156);
}

.content-jmb {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   color: white;
   padding: 20px 0;
   
    
}

.content-jmb, .content-portfolio, .content-portfolio-title, .content-about-title, .content-footer {
    
    margin: 20px 0;
}





.top-footer{
    background-color: #3a546d ;

} 

.content-footer {
    background-color: green;
    height: 200px;
}

.bottom-footer{
    height: 160px;
    background-color: #2c3e50;

} 

/*FINE LAYOUT*/



/*HEADER*/
.navbar a {
    font-weight: 600;
    color: WHITE;
    padding: 16px 0;
}

.navbar a:hover {
    color: rgb(151, 151, 151);
}
.navbar-toggler-icon {
    filter: invert(1);  
    font-size: 22px;
    
    
}
.navbar-brand {
    font-size: 1000;
}
/*FINE HEADER*/

.img-jumbotron {
    width: 200px;
    text-align: center;
    margin: 20px 0;
}



.line-star:before, .line-star:after  {
    content: '';
    display: inline-block;
    width: 90px;
    height: 4px;
    
    
}
.line-star-white:before, .line-star-white:after  {
   background-color: white;
    
    
}
.line-star-black:before, .line-star-black:after  {
    background-color: black;
     
     
 }
.line-star:before, .line-star:after  {
    content: '';
    display: inline-block;
    width: 120px;
    height: 4px;
    
    
}
.fa-star {
    margin: 0 3px;
}
.line-skills{
    font-size: 16px;
    margin-top: 20px;
}

.line-star-balck {
    color: black;
}
.line-star-white {
    color: white;
}